
<div class="main posts-index">
  <div class="container">
    <%= link_to("戻る", "/content") %>
    <% @hours.each do |hour| %>
      <div class="users-index-item">
        <div class="user-left">

          <%= hour.check+hour.content %>

        </div>
        <div class="user-right">

          <%= hour.user_name %>

        </div>
      </div>
    <% end %>
  </div>
</div>
