
<div class="main posts-index">
  <div class="container">

      <div class="form posts-index-item">

        <div class="form-heading post-right">
          <%= link_to("予約確認", "/check",class:"form-admin") %>
          <br>
          <%= link_to("ID検索・登録", "/addsearch",class:"form-book") %>
          <br>
          <%= link_to("戻る", "/login",class:"form-delete") %>

        </div>
      </div>

  </div>
</div>
