<div class="main">
  <%= link_to("予約確認", "/check",class:"form-check") %>

  <%= link_to("ID検索・登録", "/addsearch",class:"form-search") %>

</div>



        <!--  <%= link_to("戻る", "/login",class:"form-delete") %>
-->
