<!--
<h2>お名前</h2>
<h2>ID</h2>

-->
<div class="main users-new">
  <div class="container">
    <div class="form-heading">検索結果</div>
    <div class="form users-form">
      <div class="form-body">
        <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>
          <p>お名前 <%=@current_user.name%></p>
          <p>ID <%=@current_user.user_id%></p>
      </div>
    </div>
  </div>
