<div class="main users-new">
  <div class="container">
    <div class="form-heading">管理者</div>
    <div class="form users-form">
      <div class="form-body">
        <!--
        <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>
-->
        <%= form_tag("/create/id_create") do %>
          <p>お客様ID</p>
          <input name="user_id">

          <input type="submit" value="次へ">
        <% end %>
      </div>
    </div>
  </div>
