<div class="main users-new">
  <div class="container">
    <div class="form-heading">日付</div>
    <div class="form users-form">
      <div class="form-body">
        <!--
        <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>
-->
        <%= form_tag("/create/date_create") do %>
          <p>予約日を入力してください(例：7月11日 => 0711)</p>
          <input name="rese_date">

          <input type="submit" value="次へ">
        <% end %>
      </div>
    </div>
  </div>
