
<div class="main posts-index">
  <div class="container">

      <div class="form posts-index-item">

        <div class="form-heading post-right">
          <h1>カレンダー</h1>
          <br>
          <%= link_to("次へ", "/create/hour") %>
          <br>
          <%= link_to("戻る", "/create") %>
        </div>
      </div>

  </div>
</div>
