<div class="main posts-index">
  <div class="container">
    <p>◯=予約なしの時間　✖️=予約済みの時間</p>
    <% @hours.each do |hour| %>
      <div class="users-index-item">
        <div class="user-right">
          <% if hour.check == "◯"%>
            <%= link_to(hour.check+hour.content, "/create/#{hour.id}") %>
          <% else %>
            <%=hour.check+hour.content%>
          <%end%>
        </div>
      </div>
    <% end %>
  </div>
</div>
