
<div class="main posts-index">
  <div class="container">

      <div class="form posts-index-item">

        <div class="form-heading post-right">
          <%= link_to("管理者", "/login",class:"form-admin") %>
          <br>
          <%= link_to("予約", "/create",class:"form-book") %>
          <br>
          <%= link_to("予約取り消し", "/cancel",class:"form-delete") %>
        </div>
      </div>

  </div>
</div>
